# Исследование надёжности заёмщиков

In [1]:
import pandas
from pymystem3 import Mystem
from collections import Counter
import pprint
import os

# Откроем таблицу и изучим общую информацию о данных

In [2]:
#data = pandas.read_csv('data.csv')

#import os

pth1 = 'data.csv'
pth2 = '/datasets/data.csv'

if os.path.exists(pth1):
    data = pandas.read_csv(pth1)
elif os.path.exists(pth2):
    data = pandas.read_csv(pth2)
else:
    print('Something is wrong')

#print(data)
data.head(30)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля
20,1,-1311.604166,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552.644578,недвижимость
21,1,-253.685166,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812.203909,приобретение автомобиля
22,1,-1766.644138,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681.140731,на покупку подержанного автомобиля
23,0,-272.981385,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265.720871,сыграть свадьбу
24,1,338551.952911,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547.235997,операции с коммерческой недвижимостью
25,0,363548.489348,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112.757732,покупка недвижимости
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
27,0,-529.191635,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848.983691,строительство собственной недвижимости
28,1,-717.274324,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863.237306,строительство собственной недвижимости
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости

In [3]:
data.tail(30)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
21495,1,NaN,50,среднее,1,гражданский брак,1,F,сотрудник,0,NaN,свадьба
21496,1,-759.680851,31,среднее,1,женат / замужем,0,F,сотрудник,0,119392.620079,на покупку автомобиля
21497,0,NaN,48,ВЫСШЕЕ,0,женат / замужем,0,F,компаньон,0,NaN,строительство недвижимости
21498,1,-1330.627998,32,среднее,1,гражданский брак,1,M,сотрудник,0,240767.575887,сыграть свадьбу
21499,0,-9929.015065,57,среднее,1,гражданский брак,1,M,компаньон,0,157553.158589,свадьба
21500,0,-578.082757,26,неоконченное высшее,2,Не женат / не замужем,4,M,компаньон,0,77813.293365,операции с коммерческой недвижимостью
21501,0,334343.096304,57,среднее,1,женат / замужем,0,F,пенсионер,0,86232.126549,жилье
21502,1,NaN,42,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,строительство жилой недвижимости
21503,0,-3096.881131,58,среднее,1,женат / замужем,0,F,сотрудник,0,264250.997662,заняться образованием
21504,0,355235.728158,68,среднее,1,женат / замужем,0,F,пенсионер,0,80566.321329,дополнительное образование
21505,0,338904.866406,53,среднее,1,гражданский брак,1,M,пенсионер,0,75439.993167,сыграть свадьбу
21506,1,-1556.249906,33,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,145541.993320,свадьба
21507,1,-79.832064,32,среднее,1,гражданский брак,1,F,госслужащий,0,98180.279152,сделка с подержанным автомобилем
21508,0,386497.714078,62,среднее,1,женат / замужем,0,M,пенсионер,0,72638.590915,недвижимость
21509,0,362161.054124,59,высшее,0,женат / замужем,0,M,пенсионер,0,73029.059379,операции с недвижимостью
21510,2,NaN,28,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,приобретение автомобиля
21511,0,-612.569129,29,высшее,0,гражданский брак,1,F,сотрудник,1,140068.472941,покупка жилья для сдачи
21512,0,-165.377752,26,высшее,0,Не женат / не замужем,4,M,компаньон,0,147301.457769,получение дополнительного образования
21513,0,-1166.216789,35,среднее,1,женат / замужем,0,F,сотрудник,0,250986.142309,покупка жилья
21514,0,-280.469996,27,неоконченное высшее,2,Не женат / не замужем,4,M,компаньон,0,355988.407188,строительство недвижимости
21515,1,-467.685130,28,среднее,1,женат / замужем,0,F,сотрудник,1,109486.327999,заняться образованием
21516,0,-914.391429,42,высшее,0,женат / замужем,0,F,компаньон,0,322807.776603,покупка своего жилья
21517,0,-404.679034,42,высшее,0,гражданский брак,1,F,компаньон,0,178059.553491,на покупку своего автомобиля
21518,0,373995.710838,59,СРЕДНЕЕ,1,женат / замужем,0,F,пенсионер,0,153864.650328,сделка с автомобилем
21519,1,-2351.431934,37,ученая степень,4,в разводе,3,M,сотрудник,0,115949.039788,покупка коммерческой недвижимости
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

In [4]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

# Выводы

Проблемы, которые нужно решить:

- отрицательные значения в днях стажа
- отсутствуют строки в днях стажа и общем доходе, то есть пропущены некоторые значения
- некачественные названия столбцов (dob years)
- некорректные типы данных — в днях стажа и в доходе float64
- неудобные данные для анализа — дни стажа лучше перевести в года
- прыгающий регистр букв в образовании/education
- есть дублирующие признаки — избыточное образование и его идентификатор и такая же проблема у семейного положения
- непонятна валюта месячного дохода

# Предбработка данных

Поищем дубликаты, приведем названия столбцов в порядок, поработаем с признаками.

In [6]:
data.columns.tolist()

['children',
 'days_employed',
 'dob_years',
 'education',
 'education_id',
 'family_status',
 'family_status_id',
 'gender',
 'income_type',
 'debt',
 'total_income',
 'purpose']

Переименуем столбцы

In [7]:
cols = ['number_of_children',
        'days_employed',
        'client_age_in_years',
        'education_level',
        'education_level_id',
        'family_status',
        'family_status_id',
        'gender',
        'employment_type',
        'credit_repayment_status',
        'monthly_income',
        'credit_purpose'
       ]
data.set_axis(cols, axis='columns', inplace=True)

In [8]:
data.columns.tolist()

['number_of_children',
 'days_employed',
 'client_age_in_years',
 'education_level',
 'education_level_id',
 'family_status',
 'family_status_id',
 'gender',
 'employment_type',
 'credit_repayment_status',
 'monthly_income',
 'credit_purpose']

Подсчитаем суммарное количество пропусков

In [9]:
data.isnull().sum()

number_of_children            0
days_employed              2174
client_age_in_years           0
education_level               0
education_level_id            0
family_status                 0
family_status_id              0
gender                        0
employment_type               0
credit_repayment_status       0
monthly_income             2174
credit_purpose                0
dtype: int64

Одинаковое количество пропусков в днях работы и в доходе в месяц. 
Могло возникнуть из-за того, что они никогда не работали либо не официально.
Также данные могли быть некорректно выгружены.

Заменим пропуски на нули.
Мне кажется, подставлять средние или медианные значения некорректно из-за того, что повысится шанс получения кредита.
Это не улучшит качество наших данных.

In [10]:
data['days_employed'] = data['days_employed'].fillna(0)

In [11]:
data['monthly_income'] = data['monthly_income'].fillna(0)

Проверим, получилась ли замена

In [12]:
data.isnull().sum()

number_of_children         0
days_employed              0
client_age_in_years        0
education_level            0
education_level_id         0
family_status              0
family_status_id           0
gender                     0
employment_type            0
credit_repayment_status    0
monthly_income             0
credit_purpose             0
dtype: int64

Посмотрим на дубликаты

In [13]:
data.duplicated().sum()

54

54 дубликата – возможно их появление связанно с ошибкой правил валидации на сервере.

Удалим дубликаты, сбросим индексы и совершим проверку

In [14]:
data = data.drop_duplicates().reset_index(drop=True)

In [15]:
data.duplicated().sum()

0

In [16]:
data.head(10)

,number_of_children,days_employed,client_age_in_years,education_level,education_level_id,family_status,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

# Исследуем каждый столбец в отдельности

# Дети

In [17]:
data['number_of_children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

Со значениями -1 и 20 что-то не так. Подсчитаем количество таких строк.

In [18]:
data[data['number_of_children'] == -1]['number_of_children'].count()

47

Заменим -1 на 1 и совершим проверку

In [19]:
data['number_of_children'] = data['number_of_children'].replace(-1, 1)

In [20]:
data[data['number_of_children'] == -1]['number_of_children'].count()

0

Посчитаем количество строк с 20 детьми, сгруппируем по возрасту и посмотрим на корректность данных.

In [21]:
data[data['number_of_children'] == 20]['number_of_children'].count()

76

In [22]:
data[data['number_of_children'] == 20].groupby('client_age_in_years')['client_age_in_years'].count()

client_age_in_years
0     1
21    1
23    1
24    1
25    1
26    1
27    2
29    2
30    3
31    2
32    2
33    2
34    3
35    2
36    2
37    4
38    1
39    1
40    4
41    2
42    3
43    2
44    2
45    3
46    3
48    1
49    3
50    3
51    1
52    1
53    1
54    1
55    1
56    5
57    1
59    2
60    1
61    1
62    1
64    1
69    1
Name: client_age_in_years, dtype: int64

In [23]:
data['number_of_children'].value_counts()

0     14107
1      4856
2      2052
3       330
20       76
4        41
5         9
Name: number_of_children, dtype: int64

Считаем ошибкой — заменяем на 2.

In [24]:
data['number_of_children'] = data['number_of_children'].replace(20, 2)

Данные теперь выглядят корректно

In [25]:
data['number_of_children'].unique()

array([1, 0, 3, 2, 4, 5])

# Трудовой стаж

In [26]:
data['days_employed'].describe()

count     21471.000000
mean      56821.423140
std      135010.270744
min      -18388.949901
25%       -2522.536607
50%        -989.271304
75%           0.000000
max      401755.400475
Name: days_employed, dtype: float64

Есть отрицательные значения, значения не в целых числах. Неудобно и некорректно

In [27]:
data['days_employed'] = data['days_employed'].abs()

In [28]:
data['days_employed'].describe()

count     21471.000000
mean      60307.713617
std      133489.355354
min           0.000000
25%         620.736110
50%        1818.689386
75%        4794.911909
max      401755.400475
Name: days_employed, dtype: float64

Теперь возникла странность с максимальным значением, слишком большое для стажа.
Найдем самого пожилого человека и предположим, что он начал работать с 14 лет,

In [29]:
max_days_of_employment = (data['client_age_in_years'].max() - 14) * 365
max_days_of_employment # Получим количество дней, по которым можно сделать отсев

22265

In [30]:
data[data['days_employed'] > max_days_of_employment]['days_employed'].count() / 22265 * 100

15.472715023579608

Больше 15 % от всех. Большой показатель, Переведем в года и добавим новый стоблец.

In [31]:
data['years_employed'] = data['days_employed'] / 365

In [32]:
data['years_employed'] = data['years_employed'].astype(int)

Удалим столбец с днями, оставим только года.

In [33]:
del data['days_employed']

In [34]:
data.head()

,number_of_children,client_age_in_years,education_level,education_level_id,family_status,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose,years_employed
0,1,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,23
1,1,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,11
2,0,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,15
3,3,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,11
4,0,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,932

# Возраст

In [35]:
data['client_age_in_years'].describe()

count    21471.000000
mean        43.279074
std         12.574291
min          0.000000
25%         33.000000
50%         42.000000
75%         53.000000
max         75.000000
Name: client_age_in_years, dtype: float64

In [36]:
data[data['client_age_in_years'] == 0]['client_age_in_years'].count()

101

In [37]:
data[data['years_employed'] > 70].groupby(['client_age_in_years'])['client_age_in_years'].count()

client_age_in_years
0      17
22      1
26      2
27      3
28      1
31      1
32      3
33      2
34      3
35      1
36      3
37      5
38      8
39      4
40      7
41      6
42      9
43      9
44     10
45     11
46     13
47     13
48     20
49     30
50     61
51     73
52     95
53    105
54    145
55    162
56    184
57    212
58    208
59    254
60    243
61    214
62    235
63    192
64    179
65    136
66    139
67    132
68     80
69     74
70     54
71     48
72     28
73      6
74      4
Name: client_age_in_years, dtype: int64

# Образование

In [38]:
len(data['education_level'].unique())

15

In [39]:
data['education_level_id'].unique()

array([0, 1, 2, 3, 4])

Уникальных 15, а в ID уникальных 5, веротяно дело в регистре. Приведем все к нижнему регистру

In [40]:
data['education_level'] = data['education_level'].str.lower()

In [41]:
data['education_level'].unique()

array(['высшее', 'среднее', 'неоконченное высшее', 'начальное',
       'ученая степень'], dtype=object)

# Семейный статус

Сразу разберемся с регистром.

In [42]:
data['family_status'] = data['family_status'].str.lower()

In [43]:
data['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'не женат / не замужем'], dtype=object)

# Пол клиента

In [44]:
data['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

XNA - непонятно что значит

In [45]:
data[data['gender'] == 'XNA'].count()

number_of_children         1
client_age_in_years        1
education_level            1
education_level_id         1
family_status              1
family_status_id           1
gender                     1
employment_type            1
credit_repayment_status    1
monthly_income             1
credit_purpose             1
years_employed             1
dtype: int64

# Статус

In [46]:
data['employment_type'].unique()

array(['сотрудник', 'пенсионер', 'компаньон', 'госслужащий',
       'безработный', 'предприниматель', 'студент', 'в декрете'],
      dtype=object)

# Доход

Приведем к целочисленному типу для удобства

In [47]:
data['monthly_income'] = data['monthly_income'].astype(int)

In [48]:
data.head()

,number_of_children,client_age_in_years,education_level,education_level_id,family_status,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose,years_employed
0,1,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,23
1,1,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,11
2,0,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,15
3,3,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,11
4,0,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,932

# Цели получения кредита

Определим количество уникальных значений

In [49]:
unique_credit_purposes = data['credit_purpose'].unique().tolist()
unique_credit_purposes

['покупка жилья',
 'приобретение автомобиля',
 'дополнительное образование',
 'сыграть свадьбу',
 'операции с жильем',
 'образование',
 'на проведение свадьбы',
 'покупка жилья для семьи',
 'покупка недвижимости',
 'покупка коммерческой недвижимости',
 'покупка жилой недвижимости',
 'строительство собственной недвижимости',
 'недвижимость',
 'строительство недвижимости',
 'на покупку подержанного автомобиля',
 'на покупку своего автомобиля',
 'операции с коммерческой недвижимостью',
 'строительство жилой недвижимости',
 'жилье',
 'операции со своей недвижимостью',
 'автомобили',
 'заняться образованием',
 'сделка с подержанным автомобилем',
 'получение образования',
 'автомобиль',
 'свадьба',
 'получение дополнительного образования',
 'покупка своего жилья',
 'операции с недвижимостью',
 'получение высшего образования',
 'свой автомобиль',
 'сделка с автомобилем',
 'профильное образование',
 'высшее образование',
 'покупка жилья для сдачи',
 'на покупку автомобиля',
 'ремонт жилью',
 'заняться высшим образованием']

In [50]:
#from pymystem3 import Mystem
#from collections import Counter
#import pprint

In [51]:
#import pprint

In [52]:
m = Mystem()
string = '; '.join(unique_credit_purposes)
pprint.pprint(string)

('покупка жилья; приобретение автомобиля; дополнительное образование; сыграть '
 'свадьбу; операции с жильем; образование; на проведение свадьбы; покупка '
 'жилья для семьи; покупка недвижимости; покупка коммерческой недвижимости; '
 'покупка жилой недвижимости; строительство собственной недвижимости; '
 'недвижимость; строительство недвижимости; на покупку подержанного '
 'автомобиля; на покупку своего автомобиля; операции с коммерческой '
 'недвижимостью; строительство жилой недвижимости; жилье; операции со своей '
 'недвижимостью; автомобили; заняться образованием; сделка с подержанным '
 'автомобилем; получение образования; автомобиль; свадьба; получение '
 'дополнительного образования; покупка своего жилья; операции с недвижимостью; '
 'получение высшего образования; свой автомобиль; сделка с автомобилем; '
 'профильное образование; высшее образование; покупка жилья для сдачи; на '
 'покупку автомобиля; ремонт жилью; заняться высшим образованием')

In [53]:
lemmas = m.lemmatize(string)
pprint.pprint(Counter(lemmas))

Counter({' ': 59,
         '; ': 37,
         'покупка': 10,
         'недвижимость': 10,
         'автомобиль': 9,
         'образование': 9,
         'жилье': 7,
         'с': 5,
         'операция': 4,
         'на': 4,
         'свой': 4,
         'свадьба': 3,
         'строительство': 3,
         'получение': 3,
         'высокий': 3,
         'дополнительный': 2,
         'для': 2,
         'коммерческий': 2,
         'жилой': 2,
         'подержать': 2,
         'заниматься': 2,
         'сделка': 2,
         'приобретение': 1,
         'сыграть': 1,
         'проведение': 1,
         'семья': 1,
         'собственный': 1,
         'со': 1,
         'профильный': 1,
         'сдача': 1,
         'ремонт': 1,
         '\n': 1})

# Выводы

Основных целей 4: 
операции с автомобилем, недвижимостью, получение образование и проведение свальбы.

Заполнив пропуски, удалив дубли, выделив аномалии, в наших данных еще остались некорректные значения, но на последующий анализ они повлиять не должны, так что мы можем их оставить.

# Ответим на вопросы

Есть ли зависимость между количеством детей и возвратом кредита в срок?
Есть ли зависимость между семейным положением и возвратом кредита в срок?
Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
Как разные цели кредита влияют на его возврат в срок?

# Зависимость между количеством детей и возвратом кредита в срок

In [54]:
number_of_children_set = data.groupby('number_of_children')['credit_repayment_status'].sum() / \
    data.groupby('number_of_children')['credit_repayment_status'].count() * 100

In [55]:
number_of_children_set = data.groupby('number_of_children')['credit_repayment_status'].sum() / \
    data.groupby('number_of_children')['credit_repayment_status'].count() * 100

In [56]:
number_of_children_set

number_of_children
0    7.535266
1    9.163921
2    9.492481
3    8.181818
4    9.756098
5    0.000000
Name: credit_repayment_status, dtype: float64

In [57]:
grouped_number_of_children = data.groupby('number_of_children')['credit_repayment_status'].count()
grouped_number_of_children

number_of_children
0    14107
1     4856
2     2128
3      330
4       41
5        9
Name: credit_repayment_status, dtype: int64

In [58]:
children_pivot = data.pivot_table(index = ['number_of_children'], \
                                columns = ['credit_repayment_status'], \
                                values = 'credit_purpose', aggfunc='count')

children_pivot['ratio'] = children_pivot[1] / children_pivot[0] * 100
children_pivot

credit_repayment_status        0       1      ratio
number_of_children
0                        13044.0  1063.0   8.149341
1                         4411.0   445.0  10.088415
2                         1926.0   202.0  10.488058
3                          303.0    27.0   8.910891
4                           37.0     4.0  10.810811
5                            9.0     NaN        NaN

## Люди с детьми или без отдают кредиты примерно на одном и том же уровне.
Хотя люди с 5 детьми начения не корректны, на репрезентативность выборки это толком не влияет

# Зависимость между семейным положением и возвратом кредита в срок

In [59]:
family_status_set = data.groupby('family_status')['credit_repayment_status'].sum() / \
      data.groupby('family_status')['credit_repayment_status'].count() * 100

In [60]:
family_status_set

family_status
в разводе                7.112971
вдовец / вдова           6.569343
гражданский брак         9.320202
женат / замужем          7.542126
не женат / не замужем    9.750890
Name: credit_repayment_status, dtype: float64

In [61]:
family_status_pivot = data.pivot_table(index=['family_status'], columns=['credit_repayment_status'], values='monthly_income', aggfunc='count')
family_status_pivot['ratio'] = family_status_pivot[1] / family_status_pivot[0] * 100
family_status_pivot

credit_repayment_status      0    1      ratio
family_status
в разводе                 1110   85   7.657658
вдовец / вдова             896   63   7.031250
гражданский брак          3775  388  10.278146
женат / замужем          11413  931   8.157364
не женат / не замужем     2536  274  10.804416

## Семейное положение влияет

Самые низкие показатели у людей в разводе либо вдовцов/вдов — возможно возвращение долга зависит от наличия кормильца или супруга в семье.

# Зависимость между уровнем дохода и возвратом кредита в срок

In [62]:
data['monthly_income'].quantile([0.25,0.5,0.75])

0.25     88946.5
0.50    135716.0
0.75    195751.5
Name: monthly_income, dtype: float64

Распределим уровень дохода на 5 категорий

In [63]:
def total_income_category(monthly_income):
    if monthly_income <= 30000:
            return 'E'
    if monthly_income <= 50000:
            return 'D'
    if monthly_income <= 200000:
            return 'C'
    if monthly_income <= 1000000:
            return 'B'
    #if monthly_income > 1000000:
           # return 'A'
    return 'A'

In [64]:
data['total_income_category'] = data['monthly_income'].apply(total_income_category)

In [65]:
data.head()

,number_of_children,client_age_in_years,education_level,education_level_id,family_status,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose,years_employed,total_income_category
0,1,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,23,B
1,1,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,11,C
2,0,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,15,C
3,3,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,11,B
4,0,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,932,C

In [66]:
monthly_income_set = data.groupby('total_income_category')['credit_repayment_status'].sum() / \
      data.groupby('total_income_category')['credit_repayment_status'].count() * 100

In [67]:
monthly_income_set.sort_values()

total_income_category
D    6.000000
B    7.062091
A    8.000000
E    8.029879
C    8.553152
Name: credit_repayment_status, dtype: float64

In [68]:
monthly_income_pivot = data.pivot_table(index=['total_income_category'], columns=['credit_repayment_status'], values='education_level_id', aggfunc='count')
monthly_income_pivot['ratio'] = monthly_income_pivot[1] / monthly_income_pivot[0] * 100
monthly_income_pivot

credit_repayment_status      0     1     ratio
total_income_category
A                           23     2  8.695652
B                         4685   356  7.598719
C                        12723  1190  9.353140
D                          329    21  6.382979
E                         1970   172  8.730964

In [69]:
# Проверим количество людей в каждой из групп
data['total_income_category'].value_counts(normalize = True)

C    0.647990
B    0.234782
E    0.099762
D    0.016301
A    0.001164
Name: total_income_category, dtype: float64

## Есть незначительная разница в возвращаемости кредитов от уровня доходов

Логично, что преобладает доход от 50001 до 200000. Меньше всего берут кредиты очень богатые и бедные

# Как разные цели кредита влияют на его возврат в срок?

Используя map(), составим словарь из двух списков, а потом сошьем.

In [70]:
credit_purpose_keys= []
credit_purpose_list = list(data.credit_purpose.unique())
for value in range(len(credit_purpose_list)):
    if 'образован' in credit_purpose_list[value]:
        credit_purpose_keys.append('Получение образования')
    elif 'авто' in credit_purpose_list[value]:
        credit_purpose_keys.append('Операции с автомобилем')
    elif 'свадьб' in credit_purpose_list[value]:
        credit_purpose_keys.append('Проведение свадьбы')
    else:
        credit_purpose_keys.append('Операции с недвижимостью')
        
credit_purpose_keys

['Операции с недвижимостью',
 'Операции с автомобилем',
 'Получение образования',
 'Проведение свадьбы',
 'Операции с недвижимостью',
 'Получение образования',
 'Проведение свадьбы',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Операции с автомобилем',
 'Операции с автомобилем',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Операции с автомобилем',
 'Получение образования',
 'Операции с автомобилем',
 'Получение образования',
 'Операции с автомобилем',
 'Проведение свадьбы',
 'Получение образования',
 'Операции с недвижимостью',
 'Операции с недвижимостью',
 'Получение образования',
 'Операции с автомобилем',
 'Операции с автомобилем',
 'Получение образования',
 'Получение образования',
 'Операции с недвижимостью',
 'Операции с автомобилем',
 'Операции с недвижимостью',
 'Получение образования']

In [71]:
#credit_purpose_list

In [72]:
#credit_purpose_dict = dict(zip(credit_purpose_list, credit_purpose_keys))

In [73]:
#data['credit_purpose_status'] = data.apply(credit_purpose_list, axis=1)

In [74]:
#data['credit_purpose_status'] = data['credit_purpose'].map(credit_purpose_dict)

In [75]:
def func(x): 
    if 'образован' in x['credit_purpose']: #credit_purpose_list[value]:
        return 'Получение образования'
#         credit_purpose_keys.append('Получение образования')
        
    elif 'авто' in x['credit_purpose']:
        return 'Операции с автомобилем'
#         credit_purpose_keys.append('Операции с автомобилем')
    elif 'свадьб' in x['credit_purpose']: 
        return 'Проведение свадьбы'
#         credit_purpose_keys.append('Проведение свадьбы')
    else:
        return 'Операции с недвижимостью'
#         credit_purpose_keys.append('Операции с недвижимостью')

data['reason'] = data.apply(func, axis =1)

In [76]:
credit_purpose_pivot = data.pivot_table(index=['reason'], columns=['credit_repayment_status'], values='education_level_id', aggfunc='count')
credit_purpose_pivot['ratio'] = credit_purpose_pivot[1] / credit_purpose_pivot[0] * 100
credit_purpose_pivot

credit_repayment_status       0    1      ratio
reason
Операции с автомобилем     3905  403  10.320102
Операции с недвижимостью  10032  782   7.795056
Получение образования      3644  370  10.153677
Проведение свадьбы         2149  186   8.655188

## Цели кредита влияют

Меньше всего показатели у свадеб и недвижимости. 
Свадьбы - не окупаются, а недвижимость слишком дорогая, поэтому данные выглядят правдоподобно и логично.

# Результаты исследования

Есть зависимости между целями кредита, семейным положением, уровнем дохода и количеством детей в семье. Нельзя сказать, что они кардинально отличаются, но 2% на больших числах могут оказать существенное влияние на кредитный портфель банка. Особое внимание следует уделить людям в разводе, вдовам/вдовцам или молодоженам — риски по невозврату кредитов у этих лиц выше.

# Рекомендации для банка

- Считать стаж работы в годах,в днях неудобно и нелогично.
- В полях ввода данных делать подсказки, чтобы было меньше некорректных значений в полях: возраст, стаж, количество детей.
- Блокировать отправку заявок с заведомо некорректными значениями, которые могут быть важны для анализа, например,
  с отрицательным количеством детей, стажем, возрастом.

In [77]:
data.head(60)

,number_of_children,client_age_in_years,education_level,education_level_id,family_status,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose,years_employed,total_income_category,reason
0,1,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,23,B,Операции с недвижимостью
1,1,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,11,C,Операции с автомобилем
2,0,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,15,C,Операции с недвижимостью
3,3,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,11,B,Получение образования
4,0,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,932,C,Проведение свадьбы
5,0,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,2,B,Операции с недвижимостью
6,0,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,7,B,Операции с недвижимостью
7,0,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,0,C,Получение образования
8,2,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,18,C,Проведение свадьбы
9,0,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,5,C,Операции с недвижимостью
10,2,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,11,C,Операции с недвижимостью
11,0,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,2,C,Операции с недвижимостью
12,0,65,среднее,1,гражданский брак,1,M,пенсионер,0,0,сыграть свадьбу,0,E,Проведение свадьбы
13,0,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,5,C,Операции с автомобилем
14,0,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,5,C,Операции с недвижимостью
15,1,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,2,C,Операции с недвижимостью
16,0,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,4,B,Операции с недвижимостью
17,0,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,6,C,Операции с недвижимостью
18,0,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,1096,C,Операции с автомобилем
19,0,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,27,B,Операции с автомобилем
20,1,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552,недвижимость,3,B,Операции с недвижимостью
21,1,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812,приобретение автомобиля,0,C,Операции с автомобилем
22,1,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681,на покупку подержанного автомобиля,4,C,Операции с автомобилем
23,0,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265,сыграть свадьбу,0,C,Проведение свадьбы
24,1,57,среднее,1,не женат / не замужем,4,F,пенсионер,0,290547,операции с коммерческой недвижимостью,927,B,Операции с недвижимостью
25,0,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112,покупка недвижимости,996,C,Операции с недвижимостью
26,0,41,среднее,1,женат / замужем,0,M,госслужащий,0,0,образование,0,E,Получение образования
27,0,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848,строительство собственной недвижимости,1,B,Операции с недвижимостью
28,1,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863,строительство собственной недвижимости,1,C,Операции с недвижимостью
29,0,63,среднее,1,не женат / не замужем,4,F,пенсионер,0,0,строительство жилой недвижимости,0,E,Операции с недвижимостью
30,1,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456,операции с коммерческой недвижимостью,919,C,Операции с недвижимостью
31,0,47,начальное,3,женат / замужем,0,F,сотрудник,0,275485,жилье,4,B,Операции с недвижимостью
32,0,34,среднее,1,гражданский брак,1,F,сотрудник,1,139057,на проведение свадьбы,12,C,Проведение свадьбы
33,0,48,среднее,1,женат / замужем,0,F,компаньон,0,157245,покупка жилья,4,C,Операции с недвижимостью
34,0,35,среднее,1,женат / замужем,0,F,сотрудник,0,104660,операции со своей недвижимостью,12,C,Операции с недвижимостью
35,0,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805,на проведение свадьбы,1079,C,Проведение свадьбы
36,0,33,среднее,1,не женат / не замужем,4,M,сотрудник,0,138830,автомобили,0,C,Операции с автомобилем
37,0,43,высшее,0,гражданский брак,1,F,компаньон,0,154128,приобретение автомобиля,17,C,Операции с автомобилем
38,0,25,высшее,0,не женат / не замужем,4,M,сотрудник,1,192247,образование,1,C,Получение образования
39,0,31,высшее,0,гражданский брак,1,F,компаньон,0,754240,заняться образованием,1,B,Получение образования
40,0,30,среднее,1,не женат / не замужем,4,M,компаньон,0,142865,покупка недвижимости,2,C,Операции с недвижимостью
41,0,50,среднее,1,женат / замужем,0,F,госслужащий,0,0,сделка с подержанным автомобилем,0,E,Операции с автомобилем
42,0,20,неоконченное высшее,2,не женат / не замужем,4,F,сотрудник,0,82065,получение образования,3,C,Получение образования
43,0,43,неоконченное высшее,2,в разводе,3,F,компаньон,0,272957,приобретение автомобиля,11,B,Операции с автомобилем
44,1,26,среднее,1,женат / замужем,0,F,сотрудник,0,100780,на покупку своего автомобиля,3,C,Операции с автомобилем
45,1,49,среднее,1,не женат / не замужем,4,F,сотрудник,0,106385,заняться образованием,2,C,Получение образования
46,2,37,среднее,1,женат / замужем,0,F,компаньон,0,182682,сделка с подержанным автомобилем,6,C,Операции с автомобилем
47,1,33,высшее,0,гражданский брак,1,M,госслужащий,0,356277,на проведение свадьбы,7,B,Проведение свадьбы
48,0,45,среднее,1,женат / замужем,0,F,сотрудник,0,162065,строительство собственной недвижимости,9,C,Операции с недвижимостью
49,0,54,среднее,1,женат / замужем,0,F,сотрудник,0,44591,автомобиль,3,D,Операции с автомобилем
50,0,63,среднее,1,женат / замужем,0,F,пенсионер,0,92342,автомобили,969,C,Операции с автомобилем
51,1,50,высшее,0,гражданский брак,1,F,сотрудник,0,203199,свадьба,19,B,Проведение свадьбы
52,1,28,среднее,1,женат / замужем,0,F,сотрудник,0,52746,получение дополнительного образования,9,C,Получение образования
53,0,61,среднее,1,в разводе,3,F,компаньон,0,311453,покупка своего жилья,11,B,Операции с недвижимостью
54,0,27,высшее,0,гражданский брак,1,F,сотрудник,0,92238,автомобили,9,C,Операции с автомобилем
55,0,54,среднее,1,гражданский брак,1,F,пенсионер,1,0,сыграть свадьбу,0,E,Проведение свадьбы
56,0,64,среднее,1,вдовец / вдова,2,F,пенсионер,0,149141,образование,1014,C,Получение образования
57,0,44,среднее,1,вдовец / вдова,2,F,сотрудник,0,58616,образование,6,C,Получение образования
58,0,36,высшее,0,женат / замужем,0,M,сотрудник,0,414404,недвижимость,0,B,Операции с недвижимостью
59,0,53,среднее,1,гражданский брак,1,F,компаньон,0,261369,операции с недвижимостью,11,B,Операции с недвижимостью

In [78]:
del data['family_status']

In [79]:
del data['education_level']

In [80]:
data.head(60)

,number_of_children,client_age_in_years,education_level_id,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose,years_employed,total_income_category,reason
0,1,42,0,0,F,сотрудник,0,253875,покупка жилья,23,B,Операции с недвижимостью
1,1,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,11,C,Операции с автомобилем
2,0,33,1,0,M,сотрудник,0,145885,покупка жилья,15,C,Операции с недвижимостью
3,3,32,1,0,M,сотрудник,0,267628,дополнительное образование,11,B,Получение образования
4,0,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,932,C,Проведение свадьбы
5,0,27,0,1,M,компаньон,0,255763,покупка жилья,2,B,Операции с недвижимостью
6,0,43,0,0,F,компаньон,0,240525,операции с жильем,7,B,Операции с недвижимостью
7,0,50,1,0,M,сотрудник,0,135823,образование,0,C,Получение образования
8,2,35,0,1,F,сотрудник,0,95856,на проведение свадьбы,18,C,Проведение свадьбы
9,0,41,1,0,M,сотрудник,0,144425,покупка жилья для семьи,5,C,Операции с недвижимостью
10,2,36,0,0,M,компаньон,0,113943,покупка недвижимости,11,C,Операции с недвижимостью
11,0,40,1,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,2,C,Операции с недвижимостью
12,0,65,1,1,M,пенсионер,0,0,сыграть свадьбу,0,E,Проведение свадьбы
13,0,54,2,0,F,сотрудник,0,130458,приобретение автомобиля,5,C,Операции с автомобилем
14,0,56,0,1,F,компаньон,1,165127,покупка жилой недвижимости,5,C,Операции с недвижимостью
15,1,26,1,0,F,сотрудник,0,116820,строительство собственной недвижимости,2,C,Операции с недвижимостью
16,0,35,1,0,F,сотрудник,0,289202,недвижимость,4,B,Операции с недвижимостью
17,0,33,0,1,M,сотрудник,0,90410,строительство недвижимости,6,C,Операции с недвижимостью
18,0,53,1,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,1096,C,Операции с автомобилем
19,0,48,1,3,F,сотрудник,0,242831,на покупку своего автомобиля,27,B,Операции с автомобилем
20,1,36,1,0,M,сотрудник,0,209552,недвижимость,3,B,Операции с недвижимостью
21,1,33,1,1,F,сотрудник,0,131812,приобретение автомобиля,0,C,Операции с автомобилем
22,1,24,1,1,F,сотрудник,0,149681,на покупку подержанного автомобиля,4,C,Операции с автомобилем
23,0,21,0,1,M,сотрудник,0,128265,сыграть свадьбу,0,C,Проведение свадьбы
24,1,57,1,4,F,пенсионер,0,290547,операции с коммерческой недвижимостью,927,B,Операции с недвижимостью
25,0,67,1,0,M,пенсионер,0,55112,покупка недвижимости,996,C,Операции с недвижимостью
26,0,41,1,0,M,госслужащий,0,0,образование,0,E,Получение образования
27,0,28,0,0,M,сотрудник,0,308848,строительство собственной недвижимости,1,B,Операции с недвижимостью
28,1,26,0,0,F,сотрудник,0,187863,строительство собственной недвижимости,1,C,Операции с недвижимостью
29,0,63,1,4,F,пенсионер,0,0,строительство жилой недвижимости,0,E,Операции с недвижимостью
30,1,62,1,0,F,пенсионер,0,171456,операции с коммерческой недвижимостью,919,C,Операции с недвижимостью
31,0,47,3,0,F,сотрудник,0,275485,жилье,4,B,Операции с недвижимостью
32,0,34,1,1,F,сотрудник,1,139057,на проведение свадьбы,12,C,Проведение свадьбы
33,0,48,1,0,F,компаньон,0,157245,покупка жилья,4,C,Операции с недвижимостью
34,0,35,1,0,F,сотрудник,0,104660,операции со своей недвижимостью,12,C,Операции с недвижимостью
35,0,68,1,1,M,пенсионер,0,77805,на проведение свадьбы,1079,C,Проведение свадьбы
36,0,33,1,4,M,сотрудник,0,138830,автомобили,0,C,Операции с автомобилем
37,0,43,0,1,F,компаньон,0,154128,приобретение автомобиля,17,C,Операции с автомобилем
38,0,25,0,4,M,сотрудник,1,192247,образование,1,C,Получение образования
39,0,31,0,1,F,компаньон,0,754240,заняться образованием,1,B,Получение образования
40,0,30,1,4,M,компаньон,0,142865,покупка недвижимости,2,C,Операции с недвижимостью
41,0,50,1,0,F,госслужащий,0,0,сделка с подержанным автомобилем,0,E,Операции с автомобилем
42,0,20,2,4,F,сотрудник,0,82065,получение образования,3,C,Получение образования
43,0,43,2,3,F,компаньон,0,272957,приобретение автомобиля,11,B,Операции с автомобилем
44,1,26,1,0,F,сотрудник,0,100780,на покупку своего автомобиля,3,C,Операции с автомобилем
45,1,49,1,4,F,сотрудник,0,106385,заняться образованием,2,C,Получение образования
46,2,37,1,0,F,компаньон,0,182682,сделка с подержанным автомобилем,6,C,Операции с автомобилем
47,1,33,0,1,M,госслужащий,0,356277,на проведение свадьбы,7,B,Проведение свадьбы
48,0,45,1,0,F,сотрудник,0,162065,строительство собственной недвижимости,9,C,Операции с недвижимостью
49,0,54,1,0,F,сотрудник,0,44591,автомобиль,3,D,Операции с автомобилем
50,0,63,1,0,F,пенсионер,0,92342,автомобили,969,C,Операции с автомобилем
51,1,50,0,1,F,сотрудник,0,203199,свадьба,19,B,Проведение свадьбы
52,1,28,1,0,F,сотрудник,0,52746,получение дополнительного образования,9,C,Получение образования
53,0,61,1,3,F,компаньон,0,311453,покупка своего жилья,11,B,Операции с недвижимостью
54,0,27,0,1,F,сотрудник,0,92238,автомобили,9,C,Операции с автомобилем
55,0,54,1,1,F,пенсионер,1,0,сыграть свадьбу,0,E,Проведение свадьбы
56,0,64,1,2,F,пенсионер,0,149141,образование,1014,C,Получение образования
57,0,44,1,2,F,сотрудник,0,58616,образование,6,C,Получение образования
58,0,36,0,0,M,сотрудник,0,414404,недвижимость,0,B,Операции с недвижимостью
59,0,53,1,1,F,компаньон,0,261369,операции с недвижимостью,11,B,Операции с недвижимостью